<%- include('header') -%>

<div class="container" id= "body">
  <%- include('routing'); %>
    <h1>Consumption Details</h1>
<table class="table">
    <thead>
      <tr>
        <th >Volatage</th>
        <th >Curent</th>
        <th >Power</th>
        <th >Energy Consumed</th>
        <th >Energy Available</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td id="voltage_input">
            <%= users.voltage_input %> V
        </td>
        <td id="current">
                <%= users.current %> AMP
        </td>
        <td id="power">
                <%= users.power %> KWs
        </td>
        <td id= "energy_consumed">
                <%= users.energy_consumed %> KWs
        </td>
        <td id="available_energy">
                <%= users.energy_available %>KWs
        </td>
      </tr>
    </tbody>
  </table>
 </div> 
<%- include('footer') -%>
