<%- include('header') -%>
<%- include('routing'); %>
<% if(message.length > 0) { %>
  <div class="alert alert-success">
    <%= message %>
  </div>
<% } %>
<div class="container" id= "body">
  
    <h1>Consumption Details</h1>
<table class="table">
    <thead>
      <tr>
        <th >Volatage</th>
        <th >Curent</th>
        <th >Power</th>
        <th >Energy Consumed</th>
        <th >Energy Available</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td id="voltage_input">
            <%= users.voltage_input %> V
        </td>
        <td id="current">
                <%= users.current %> AMP
        </td>
        <td id="power">
                <%= users.power %> KW
        </td>
        <td id= "energy_consumed">
                <%= users.energy_consumed %> KWh
        </td>
        <td id="available_energy">
                <%= users.energy_available %>KWh
        </td>
      </tr>
    </tbody>
  </table>
 </div> 
<%- include('footer') -%>
