<%- include('header') -%>
<%- include('routing'); %>
<div>
  <% if(message.length > 0) { %>
    <div class="alert alert-success">
      <%= message %>
</div>
  <% } %>

  <div class="container">
        <h1>Consumption Details</h1>
    <table class="table" id="tableu">
        <thead>
          <tr>
            <th >Volt</th>
            <th >Current</th>
            <th >Power</th>
            <th >Used Energy</th>
            <th >Energy Available</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td id="voltage_input">
                <%= users.voltage_input.toFixed(2) %> V
            </td>
            <td id="current">
                    <%= users.current.toFixed(2) %> AMP
            </td>
            <td id="power">
                    <%= users.power.toFixed(2) %> KW
            </td>
            <td id= "energy_consumed">
                    <%= users.energy_consumed.toFixed(2) %> KWh
            </td>
            <td id="available_energy">
                    <%= users.energy_available.toFixed(2) %>KWh
            </td>
          </tr>
        </tbody>
      </table>
 </div> 
<%- include('footer') -%>
